.bg {
    margin-left: 400px;
    margin-right: 400px;
    border: 3px;
    border-style: solid;
    border-radius: 10%;
    border-color: black;
    padding: 15px;
    padding-bottom: 50px;
    background-image: url("");
    background-color: rgb(41, 41, 44);
    color: white;
    /* background-image: url("..public/pes.jpg "); */
}

.img {
    margin-top: 100px;
}

.color {
    color: rgb(0, 0, 0);
}

.pd {
    padding-bottom: 20px;
}